@ViewBag.Title = "OdeToFood"
<h1>@Model.CurrentMessage</h1>
<table>
    @foreach (var restuarant in Model.Restaurants)
    {
        <tr>
            <td>
                @Html.ActionLink("View", "Details", new { id = @restuarant.Id })
                <a></a>
            </td>
            <td>@restuarant.Name</td>
        </tr>
    }
</table>
